.imgPan{
    width:500px;    
}
.imgPan img{
    max-width:100%;
    height:auto;
}

.ui-widget-content{
	border: none !important;
	background: #282828 !important;
}

.frameOverlay.left {
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 9000;
}
.frameOverlay.right {
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    right: -15px;
    z-index: 9000;
}